.card-carousel-container {
  width: 100%;

  .swiper {
    height: 200px;
    width: calc(100vw - 280px);

    @media (max-width: 600px) {
      width: calc(100vw - 40px);
    }

    .MuiPaper-root.appointment-card {
      height: 140px;
      width: 320px;

      @media (max-width: 600px) {
        width: calc(100% - 30px);
      }
    }
  }
}

.swiper-pagination-bullet {
  background-color: #ccc;
  width: 10px;
  height: 10px;
  opacity: 0.7;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  bottom: 0;
}


.swiper-pagination-bullet-active {
  background-color: $secondary;
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  background-color: #666;
  opacity: 1;
}

.swiper-pagination {
  bottom: 0px !important;
}
